[Desktop Entry]
Encoding=UTF-8
Name=DSC
Comment=DSC P2P Cryptocurrency
Comment[fr]=DSC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DSC, eşten eşe kriptografik sanal para birimi
Exec=dsc-qt %u
Terminal=false
Type=Application
Icon=dsc128
MimeType=x-scheme-handler/dsc;
Categories=Office;Finance;
